@use '../../styles/variables' as *;

.about {
  display: flex;
  flex-direction: column;
  padding: $about-padding-desktop;
  gap: $about-gap-desktop;

  @media (max-width: $breakpoint-mobile) {
    padding: $about-padding-mobile;
    gap: $about-gap-mobile;
  }
}

.collapseList {
  display: flex;
  flex-direction: column;
  gap: $collapse-container-gap-desktop;
  padding: 0 $collapse-container-padding-desktop;
  list-style: none;
  margin: 0;

  @media (max-width: $breakpoint-mobile) {
    gap: $collapse-container-gap-mobile;
    padding: 0;
  }
}