@use '../../styles/variables' as *;

.home {
  padding: 0 $body-padding-desktop;
  display: flex;
  flex-direction: column;
  gap: $home-gap-desktop;

  @media (max-width: 768px) {
    padding: 0 $body-padding-mobile;
    gap: $home-gap-mobile;
  }
}