@use '../../styles/variables' as *;

.home {
  padding: $home-padding-desktop;
  display: flex;
  flex-direction: column;
  gap: $home-gap-desktop;

  @media (max-width: $breakpoint-mobile) {
    padding: $home-padding-mobile;
    gap: $home-gap-mobile;
  }
}